
html 
    head 
        body
        include ../partials/headers
        link(rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        h1 Artworks and the artists
        each artwork in artworks
            a(href="/artwork/" + artwork._id) #{"Name of Artwork: " + artwork.name + " " + "Name of artist: "+ artwork.artist} 
            //input(type='submit', id=person._id class="deleteButton" value="Remove Person")
            br
        